<!--<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body ">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-primary bubble-shadow-small">
              <i class="flaticon-users"></i>
            </div>
          </div>
          <div class="col col-stats ml-3 ml-sm-0">
            <div class="numbers">
              <p class="card-category">Subscribers</p>
              <h4 class="card-title">1,294</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-info bubble-shadow-small">
              <i class="flaticon-interface-6"></i>
            </div>
          </div>
          <div class="col col-stats ml-3 ml-sm-0">
            <div class="numbers">
              <p class="card-category">Active Members</p>
              <h4 class="card-title">500</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-danger bubble-shadow-small">
              <i class="flaticon-remove-user-1"></i>
            </div>
          </div>
          <div class="col col-stats ml-3 ml-sm-0">
            <div class="numbers">
              <p class="card-category">Cancelled</p>
              <h4 class="card-title">100</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon">
            <div class="icon-big text-center icon-secondary bubble-shadow-small">
              <i class="flaticon-user-4"></i>
            </div>
          </div>
          <div class="col col-stats ml-3 ml-sm-0">
            <div class="numbers">
              <p class="card-category">Pending</p>
              <h4 class="card-title">576</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">[Title]</h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-pills nav-secondary  nav-pills-no-bd nav-pills-icons justify-content-center" id="pills-tab-with-icon" role="tablist">
        <li class="nav-item" (click)="loadOverview()">
          <a class="nav-link active" id="pills-home-tab-icon" data-toggle="pill" role="tab" aria-controls="pills-home-icon" aria-selected="true">
            <i class="flaticon-home"></i>
            Overview
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab-icon" data-toggle="pill"  role="tab" aria-controls="pills-profile-icon" aria-selected="false">
            <i class="flaticon-user-4"></i>
            Leader Boars
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab-icon" data-toggle="pill"  role="tab" aria-controls="pills-contact-icon" aria-selected="false">
            <i class="flaticon-mailbox"></i>
            Add User
          </a>
        </li>
      </ul>
      <div class="tab-content mt-2 mb-3" id="pills-with-icon-tabContent">
        <div class="tab-pane fade show active" id="pills-home-icon" role="tabpanel" aria-labelledby="pills-home-tab-icon">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>


      </div>
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>
